.menu {
    position:absolute;
    left:70%;
    top:25%;
    color:white;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    border-radius: 5px;
}

body {
    background-image: url(https://www.dmoe.cc/random.php);
    background-size: 100%;
    font-family: 'Ubuntu Mono', monospace;
    background-repeat: no-repeat; 
    background-size: cover; 
}

.about {
    position:absolute;
    left:20%;
    top:20%;
    color:white;
    -webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
    border-radius: 5px;
    white-space: nowrap;
}

a {
    color: white
}

p,h1,h2,h3,h4,h5,h6 {
    font-family: 'Ubuntu Mono', monospace;
}

.jump {
    border-style:solid;
	border-width:1px;
    color:white;
    top: 70%;
    height: 70%;

}

.grid-item { width: 200px; 
    color:white;
    border-style:solid;
	border-width:1px;
}
.grid-item--width2 { width: 400px; }

@media handheld {
    border: 2px solid black; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

* {
    margin: 0;
    padding: 0;
}

#weixin-tip-box {
    display: none;
    position: fixed;
    right: 0;
    top: 4px;
    align-items: center;
}
.weixin-tip {
    background: #40b2a8;
    z-index: 100;
    padding: 8px;
    border-radius: 8px;
    margin-right: 8px
}

.weixin-tip p {
    text-align: center;
    font-size: 14px;
    color: #fff
}

.weixin-tip p.content {
    text-align: center;
    font-size: 14px
}

.triangle_border_up {
    width: 0;
    height: 0;
    border-width: 0 6px 12px;
    border-style: solid;
    border-color: transparent transparent #40b2a8;
    /*透明 透明  灰*/
    margin-left: 114px
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');